.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 93px 30px 96px 15px;
    width: 100%;
    height: 293px;
}

.site__navigation {
    display: flex;
    justify-content: center;
}

.navigation__list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: circle;
}

.navigation__item {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    color: #000;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.navigation__item:first-child {
    list-style: none;
}

.navigation__item:last-child {
    list-style: none;
    margin-right: -10px;
}

.navigation__link-active {
    text-decoration: none;
}

.header__logo-img {
    width: 148px;
    height: 105px;
    margin-left: 10px;
}

.header__contacts-address {
    max-width: 236.49px;
    justify-self: end;
    font-style: normal;
    line-height: 1.33;
    margin-right: 24px;
}

.header__contacts-link {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    color: #000;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.header__contacts-text {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    color: #000;
}

.cover {
    width: 100%;
    height: 757px;
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.main-text__block {
    position: absolute;
    padding: 160px 50px 207px;
    width: 100%;
    height: 100%;
}

.cover__title {
    width: 100%;
    color: #fff;
    font-family: Raleway, serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.33;
    text-transform: uppercase;
    z-index: 1;
}

.aligned-text {
    display: block;
    letter-spacing: 30px;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
    transform: translateX(15px);
}

.aligned-text_right {
    text-align: right;
    transform: translateX(29px);
}

.cover__subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #fff;
    font-family: Raleway, serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    bottom: 50px;
    padding: 0 50px;
    z-index: 1;
}

.cover__subtitle-text {
    word-spacing: 18px;
}

.cover__subtitle-button {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 12px 32px;
    font-family: Raleway, serif;
    font-size: inherit;
    text-transform: uppercase;
}

.lots {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 180px 24px 0;
}

.lots__title {
    font-family: Raleway, serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__items {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    margin-top: 27px;
}

.lot-item {
    position: relative;
    width: 334px;
    height: 596px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lot-item__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.lot-item__title {
    position: absolute;
    color: #fff;
    font-family: Raleway, serif;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 48px 40px 0;
    text-decoration: underline;
}


.lot-item__description {
    font-family: Raleway, serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    z-index: 1;
    position: absolute;
    bottom: 48px;
    padding: 0 40px;
}

.lots__look-more-link {
    color: #000;
    display: inline-block;
    font-family: Raleway, serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: lowercase;
    padding-left: 40px;
    margin-top: 30px;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.about__section {
    display: grid;
    width: 100%;
    height: 595px;
    margin: 120px 24px 0px 0px;
    transform: translateX(-25px);
    grid-template-columns: 334px 1fr;
}

.about__logo {
    display: flex;
    width: 240px;
    height: 240px;
    background-color: #000;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
    margin-left: 95px;
    border-radius: 50%;
}

.about__logo-image {
    width: 141.54px;
    height: 112.55px;
}

.about-text__block {
    align-self: end;
    justify-self: end;
    height: 460px;
    width: 695px;
}

.about__title {
    font-family: Raleway, serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__description {
    font-family: Raleway, serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    margin-top: 24px;
    padding-right: 5px;
}

.footer {
    margin-top: 180px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: top;
    height: 180px;
}

.footer__contacts-address {
    flex-direction: column;
    justify-self: start;
    padding-left: 50px;
    font-style: normal;
    line-height: 1.33;
}

.footer__contacts-link {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    color: #000;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.footer__contacts-text {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    color: #000;
}

.footer__menu {
    display: flex;
    justify-content: center;
}

.footer__menu-list {
    list-style: none;
    text-align: center;
}

.footer__menu-link {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    color: #000;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-content: end;
    gap: 48px;
    list-style: none;
    padding-right: 50px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}